.details-grid-parent{
    margin-top: 2%!important
}

.details-grid-parent .details-grid-item img.sub-detail{
     max-width:100%
}


.details-grid-parent .card-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}   


.details-grid-parent .meal-session{
    margin-top: 9px;
    flex-basis: 8em;
}

.details-grid-parent button{
    margin-top: 10%;
    float: right;
}

.details-upcoming-meals .details-upcoming-item{
    flex-basis: 21em;
}

div.details-upcoming-meals{
    margin-left: 11.5%
}

.details-upcoming-meals .details-upcoming-item .card-media{
    max-width: 400px;
    height: 150px;
}

.filter-button{
    text-align: right;
}