.form-control {
    width: 100%;
    display: block!important;
  }

  .option{
    width: 25%;
    margin: 0.8rem;
  }

.MuiFormLabel-root{
    font-size: 0.9rem;
}

.form-control .MuiFormControl-root{
    display: block!important;
}

.MuiInputLabel-formControl{
    top: none!important;
    left: none!important;
}

.MuiInput-underline:after{
    border-bottom: 2px solid #f50057!important;
}
.MuiFormLabel-root.Mui-focused{
    color:  #f50057!important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color:  #f50057!important;
}