.left{
    float:left; 
    width: 35%;
    padding: 3rem;
 }
 
 .right{
     float:right; 
     margin: 3rem;
     width: 80%;
  }
 
  .mealGrid{
     display: block;
  }
 
  .override{
      white-space: pre-wrap;
  }
 
 .image{
     border-radius: 2%;
     width: 100%;
     display:block;
     
 }
 
 .macros table{
     width: 100%;
     text-align: center;
     
 }
 
 .macrosT th, td{
     width: 20%;
 }
 
 th{
     font-weight: normal;
 }
 
 .macrosT td{
     font-size: smaller;
     color: #404040;
     border: none;
 }
 
 .macros{
     background-color: hsl(29, 100%, 95%);
     border-radius: 5px;
     border: 1px solid #ffe5cc;
     padding: 5px;
     overflow: auto;
 }
 
 
 .details-grid-parent .formButton{
     margin: 2%;
 }
 
 .filter-button{
     text-align: right;
 }
 
 .nutritionCard{
     word-wrap: break-word;
 }
 
 .button{
     padding: 1rem;
     background-color: blue;
 }
 
 
 .left .MuiPaper-elevation1{
     box-shadow: none!important;
 }
 
 .MuiButtonBase-root .MuiButton-root .MuiButton-contained .MuiButton-containedSecondary{
     float: left!important;
 }
 
 .form{
     margin-top: 2rem;
 }